/*navegacao em tds as paginas*/

/*paleta de cores*/
:root {
    --laranja-primario: #ff6a00;
    --cor-branco: #fff;
    --cor-cinza: #aaa;
    --cor-preto: #0b0b0f;
}
* {
    user-select: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /*garante que nao tera sobreposicao de outro elemento*/
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px); /*efeito de blur na nav*/

    border-bottom: 1px solid rgba(255, 106, 0, 0.15);
}

.logo-text {
    font-size: 22px;
    font-weight: 700;
    color: var(--cor-branco);
    text-shadow: 0 0 10px rgba(255,106,0,0.4);
}

.navbar nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: var(--laranja-primario);
}

.btn-nav {
    background: transparent;
    border: 1px solid var(--laranja-primario);
    color: var(--laranja-primario);
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-nav:hover {
    background: var(--laranja-primario);
    color: var(--cor-branco);
    box-shadow: 0 0 15px rgba(255,106,0,0.5);
}