@import url('navbar.css');

body {
    font-family: 'Inter', sans-serif;
    background: var(--cor-bg);
    color: var(--cor-branco);
    font-size: 16px;
    overflow: hidden;
}

/*footer*/
.footer {
    width: 100%;
    padding: 24px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--laranja-primario);
    position: relative;
    z-index: 20;

}

.text-footer {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-branco);
    text-align: center;
}